.outer_div{
    position: relative;
}
.spinner{
    position: absolute;
}
.cardClass{
    --sds-c-card-color-background:#e9e5e3;
}
.tableClass{
    font-family: "Segoe UI", sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    overflow:scroll;
    cursor: pointer;
}

.priceRecordsth {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    z-index: 1;
    text-align: left;
    font-weight: bold;
    color:#D2B48C;
    border: 1px solid #ccc;
    position:sticky;
    top:0;
    background: #708090;
    
}
.tbody_trClass{
    background:white;
}
.tbody_trClass:nth-child(odd){background:#f2f2f2;}
.tbody_trClass:hover{background-color:#f2f2f2;}

.priceRecordstd {
    padding-left: 4px;
    height: 40px;
  }

.currentRecordColor{
    color: rgb(119,153,73);
}
.pastRecordColor{
    color: rgb(230,62,48);
}
.currentInApprovalColor{
    color:black;
}
/*.note{
    background-color: #f0f7fb;
    border-left: solid 4px #3498db;
    textsize
    border: 1px solid #ddd;
    padding:4px;
    margin:4px
}*/
.note{
    background-color: #f0f7fb;
    border-left: solid 4px #3498db;
    line-height: 18px;
    overflow: hidden;
    padding: 8px;
    width:fit-content;
    margin-bottom: 8px;
    font-size: medium;
    font-style: normal;
}

.wrapper {
    border: 1px solid #ddd;
    height: 470px;
  }

.nominatedRecordsWrapper{
    border: 1px solid #ddd;
    height: 400px;
}